* {
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
    color: #fff;
}
#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.calculator {
    width: 280px;
    height: 550px;
    background-color: #111;
    border-radius: 20px;
    box-shadow: 0 0 10px 3px #000;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.output {
    border-bottom: solid 0.5px #555;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 60px);
    gap: 10px;
    padding: 10px;
}
.button:nth-child(17){
    grid-column-start: 2;
}
.button {
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 25px;
}
.button:hover {
    background-color: #222;
}
.symbol {
    color: #0f0;
}
.equal {
    color: #fff;
    background-color: #090;
}
.equal:hover {
    background-color: #060;
}